# The PleX claim token is used to connect your server to your account. It can be obtained at
# https://www.plex.tv/claim/ and is valid for 4 minutes after generating the token.
PLEX_CLAIM=""

# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE="America/New_York"

# The UID/GID that will be used by the process inside the containers
# Currently set to nobody/nogroup used by my TrueNAS NFS share
PUID="65534"
PGID="65533"

# Ensure you don't include the trailing slash
BASE_MEDIA_DIR="/mnt/MediaShare"
BASE_CONFIG_DIR="/mnt/MediaConfig"

